* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-image: linear-gradient(
      rgba(242, 92, 84, 0.7),
      rgba(242, 92, 84, 0.7)
    ),
    url(/assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
